* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: lightslategray;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    color: #fff;
}

header h1 {
    margin: auto 0;
    width: 300px;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    gap: 100px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 30px;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
  }

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 500px;

}

.row {
    display: flex;
    justify-content: center;
    flex: 1;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}


#colorPicker {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.changeSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

/* Media queries */

@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
  }

  .settings {
    width: 150px;
    gap: 16px;
  }

  .size-value {
    margin-bottom: -4px;
  }

  .grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
}
